@model OrganizationIndexViewModel

@{
    ViewData["Title"] = "Index";
    var sl = Html.GetEnumSelectList<DirectionSearch>();
    
}

<h1>@ViewData["Title"]</h1>

<p>
    <a  asp-action="Create">Create New</a>
    <form asp-controller="Organizations" asp-action="Index" method="get">
        <p>
            Напрямок пошуку:@Html.DropDownListFor(f=>f.DirectionSearch,sl);
            Name:<input type="text" name="filter" value="@ViewData["Filter"]"/>
            <input type="submit" value="Filter"/>
        </p>
    </form>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Organizations.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organizations.First().FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var color = "Red";
            bool parity = true;
            foreach (var item in Model.Organizations) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
                </tr>
                parity = !parity;
            }
        }
    </tbody>
</table>
