@page
@model WebAppDemoRazorPages.Pages.Organizations.IndexModel
@using DemoClients

@{
    ViewData["Title"] = "Index";
    var sl = Html.GetEnumSelectList<DirectionSearch>();
    
}

<h1>Організації</h1>

<div class="row">
    <div class="col-12 col-md-4">
        <a asp-page="Create" class="btn btn-outline-primary d-md-inline-block d-flex justify-content-center" >Додати</a>
    </div>
    <div class="col-12 col-md-8">

        <form asp-page-handler="filter">
            <div class="row text-center">
                <div class="col-12 col-md-4 d-flex align-items-center">
                    Повнотекстовий пошук:
                </div>
                <div class="col-12 col-md-5 d-grid">
                    <input type="text" asp-for="Filter" />
                 </div>
                <div class="col-12 col-md-3">
                    <input type="submit" value="Застосувати" class="btn btn-outline-primary w-100 mt-2 mt-md-0" />
                </div>
            </div>
        </form>
       
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Organization[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization[0].Created)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Organization) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
